.search-container {
    max-width: 290px; /* Définis la largeur maximale que tu souhaites */
    margin-right: 0 auto; /* Centre le contenu horizontalement */
    margin-left: 30px;
}

.search {
    background: linear-gradient(to right, hsl(41, 31%, 53%), hsl(293, 32%, 21%));
    padding: 7px; /* Ajoute un peu de marge intérieure pour mieux voir le dégradé */
}